
body{
    background-color: rgb(241, 235, 235);
}
figure{
    text-align: center;
    padding: 2px;
    
}
figcaption{
    color: white;
    font-size: larger;
}
img{
    border-radius: 50%;
    height: 145px;
    padding: 13px;
}
#imagem1{
    background-color: rgb(6, 8, 8);
    height: 200px;
}

footer{
    text-align: center;
    background-color:black;
    font-size: large;
    color:white;
    font-family: 'arial', Times, serif;
}
li,a,p {
    font-size: 22px;
}

#caixa{
    width: 200px;
    height: 200px;
    position: fixed;
    left: 1000px;
    padding: -80px;
}